<h2>Search External Recruiters</h2>
<% if @externals %>
  <% @externals.each do |ext| %>
    <ul>
      <li><%= ext.username %></li>
      <li><%= ext.email %></li>
      <li><%= link_to "Request Contract", inh_request_contract_path(ext), method: :post %></li>
    </ul>
  <% end %>
<% end %>