<h1>Forms</h1>
<section class="clearfix">

  <div id="contact-info-select" class="f-selector">
    Contact Info
  </div>
  <div id="text-select" class="f-selector">
    Text
  </div>
  <div id="text-area" class="f-selector">
    Text Area
  </div>
  <div id="checkbox-select" class="f-selector">
    Checkbox
  </div>
  <div id="radio-select" class="f-selector">
    Radio
  </div>
  <div id="date-select" class="f-selector">
    Date
  </div>
  <div id="dropdown-select" class="f-selector">
    Dropdown
  </div>
  <div id="url-select" class="f-selector">
    Website
  </div>

</section>

<section class="clearfix">

  <article id="stage" class="left">
    <div id="options-form" class="left">

    </div>
    <div id="display-form" class="right">

    </div>
  </article>

  <article id="ff-article" class="right">
    <form id="final-form">

    </form>
  </article>

</section>