
<%= render "form_builder" %>
<section class="clearfix form-bar">
  <article class="left">
    <div id="add-to-ff">
      <h2>Add Form Input</h2>
    </div>
  </article>
  <article class="right">
    <div class="save-input">
      <label for="save">Form Name</label>
      <input type="text" name="save" id="save" value="<%= @form.title %>"/>
    </div>
    <div class="update-button">
      <h2>Update</h2>
    </div>
  </article>
</section>

<%= javascript_include_tag "form" %>
<%= javascript_include_tag "form_edit" %>
