<%= javascript_include_tag "form" %>
<%= render "form_builder" %>
<section class="clearfix form-bar">
  <article class="left">
    <div id="add-to-ff">
      <h2>Add Form Input</h2>
    </div>
  </article>
  <article class="right">
    <div class="save-input">
      <label for="save">Form Name</label>
      <input type="text" name="save" id="save" value="Form01"/>
    </div>
    <div class="save-button">
      <h2>Save</h2>
    </div>
  </article>
</section>

