@import 'form';
@import 'font-awesome-sprockets';
@import 'font-awesome';

*, *:before, *:after {box-sizing: border-box;}

.clearfix {
   clear: both;
   zoom:1;
   &:before, &:after {
     content: "\0020";
     display: block;
     height: 0;
     overflow: hidden;
   }
   &:after {
     clear: both;
   }
 }

.right {
  position:relative;
  float:right;
}
.left {
  position:relative;
  float:left;
}

.inline {
  display:inline;
}