.f-selector {
  width:6rem;
  height:6rem;
  border:2px solid black;
  display:inline;
  border-radius: 1rem;
  padding-right:0.35rem;
  padding-left:0.35rem;
}

#stage {
  width:35rem;
  height:25rem;
  border:2px solid black;
  #options-form {
    width:50%;
    height:100%;
    background-color: #d1f8ff;
    #title {
      width:15rem;
    }
  }
  #display-form {
    width:50%;
    height:100%;
    background-color: #ffdfe4;
  }
}

div[id*='chkbx-text-result-'], div[id*='radio-text-result-']  {
  display:inline;
}

#display-form {
  input {
    display:inline;
  }
}

#add-to-ff {
  border:2px solid black;
  width: 35rem;
  height:4rem;
  h2 {
    margin-top:1rem;
    text-align:center;
  }
}

#ff-article {
  overflow:auto;
  width:35rem;
  height:30rem;
  border:2px solid black;
  border-radius: 1rem;
  margin-right:15rem;
}

#final-form {
  margin-top:1rem;
  margin-left:1rem;
}